/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.toast-top-center {
  z-index: 1050; /* Defina um valor maior que o z-index de outros componentes */
}
